<div class="container">
  <!-- <mat-card>
    <mat-card-content>
      <mat-card-title translate>Hello world !</mat-card-title>
      <mat-card-subtitle>
        <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
        <q [hidden]="isLoading">{{quote}}</q>
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card> -->

  <!-- <mat-form-field>
    <input matInput placeholder="Loan ID">
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="onSubmit()">Submit</button>
 -->
  <mat-accordion *ngIf="loanDetails">
    <mat-expansion-panel [expanded]='panelOpenState'>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Loan Details
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-grid-list *ngIf="loanTiles" cols="4" rowHeight="75px">
        <mat-grid-tile [colspan]="4" [rowspan]="1" [style.background]="'#F8F8F8'">
          <div class="container-box"><h4>{{loanDetails.borrower.firstName + " "}}{{loanDetails.borrower.lastName + " "}}</h4>
          <div><span>{{loanDetails.borrower.address}}</span>
          <span>{{loanDetails.borrower.city}}</span>
          <span>{{loanDetails.borrower.state}}</span>
          <span>{{loanDetails.borrower.zip}}</span></div></div>
        </mat-grid-tile>
        <mat-grid-tile *ngFor="let tile of loanTiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
          <div class="container-box"><h4>{{tile.text.label }}</h4>
          <p *ngIf="tile.text.type==='date'"> {{tile.text.value | date }} </p>
          <p *ngIf="tile.text.type !=='date'"> {{tile.text.value }} </p></div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-expansion-panel>
  </mat-accordion>
  <app-loader [isLoading]="isLoading" size="1.5"></app-loader>
  <mat-accordion *ngIf="loanActionItems">
    <mat-expansion-panel [expanded]='panelOpenState'>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Electronic Loan Document Request
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h3 mat-subheader>eSign Documents</h3>
      <ng-container *ngFor="let item of loanActionItems">
      <mat-list *ngIf="item.documentType==='Standard Form' && isURLAAttachment(item.attachments)">
        <ng-container >
          <mat-list-item *ngIf="item.borrower">
            <button mat-button color="accent" (click)="eSignDocument(item.id, item.attachments)" *ngIf="item.documentType==='Standard Form' && isURLAAttachment(item.attachments)">eSign</button>
            <button mat-button color="primary" (click)="eSignDocument(item.id, item.attachments)" *ngIf="item.documentType==='Standard Form' && isURLAAttachment(item.attachments) && item.isRecieved">eSigned</button>
            <h4 mat-line>{{ item.borrower.firstName + " "}}{{ item.borrower.lastName }}</h4>
            <p mat-line> {{ item.issuedDate | date}} </p>
            <p mat-line> {{ item.category }} </p>
          </mat-list-item>
          <mat-list-item *ngIf="item.coBorrower">
            <button mat-button color="accent" (click)="eSignDocument(item.id, item.attachments)" *ngIf="item.documentType==='Standard Form' && isURLAAttachment(item.attachments)">eSign</button>
            <button mat-button color="primary" (click)="eSignDocument(item.id, item.attachments)" *ngIf="item.documentType==='Standard Form' && isURLAAttachment(item.attachments) && item.isRecieved">eSigned</button>
            <h4 mat-line>{{ item.coBorrower.firstName + " "}}{{ item.coBorrower.lastName }}</h4>
            <p mat-line> {{ item.issuedDate | date}} </p>
            <p mat-line> {{ item.category }} </p>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </ng-container>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Upload Documents</h3>
      <ng-container *ngFor="let item of loanActionItems">
      <mat-list *ngIf="item.documentType==='Needed'">
        <ng-container >
          <mat-list-item *ngIf="item.borrower">
            <button mat-button color="accent" (click)="openDialog('Test file')" *ngIf="item.documentType==='Needed'">Upload</button>
            <h4 mat-line>{{ item.borrower.firstName + " "}}{{ item.borrower.lastName }}</h4>
            <p mat-line> {{ item.issuedDate | date}} </p>
            <p mat-line> {{ item.category }} </p>
          </mat-list-item>
          <mat-list-item *ngIf="item.coBorrower">
            <button mat-button color="accent" (click)="openDialog('Test file')" *ngIf="item.documentType==='Needed'">Upload</button>
            <h4 mat-line>{{ item.coBorrower.firstName + " "}}{{ item.coBorrower.lastName }}</h4>
            <p mat-line> {{ item.issuedDate | date}} </p>
            <p mat-line> {{ item.category }} </p>
          </mat-list-item>
        </ng-container>
      </mat-list>
    </ng-container>
    </mat-expansion-panel>
  </mat-accordion>
</div>
