<mat-accordion *ngIf="!eSigned">
  <mat-expansion-panel *ngFor="let docs of docsSets" (open)=docSets>
    <mat-expansion-panel-header>
      <mat-icon mat-list-icon>folder</mat-icon><span style="margin-left: 5px;">{{docs.name}} Documents
        [{{signStatus(docs.signedBorrowers)?"SIGNED":"NOT SIGNED"}}]</span>
    </mat-expansion-panel-header>
    <mat-list>
      <h3 mat-subheader style="width: 100%;">
        {{docs.type}}
        <div style="margin:0 auto;">
          <span *ngFor="let borrower of docs.signedBorrowers">
            <button mat-raised-button color="primary" [disabled]="borrower.esigned" (click)="redirectToDocuSign(borrower);">{{borrower.type}}
              eSign</button>
          </span>
        </div>
      </h3>
      <mat-list-item *ngFor="let document of filterSignableDocuments(docs.documents)">
        <mat-icon mat-list-icon>note</mat-icon>
        <p mat-line> {{ document.title }} ({{ document.documentType }}) </p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel *ngFor="let docs of docsSets">
    <mat-expansion-panel-header>
      Wet Sign Components
    </mat-expansion-panel-header>

    <mat-grid-list cols="2">
      <mat-grid-tile>
        <mat-list>
          <ng-container *ngFor="let document of docs.documents">
            <mat-list-item *ngIf="document.signatureType=='Wet Sign Only'">
              <span>{{ document.title }} ({{ document.documentType }})</span>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary">Download</button>
        <button mat-raised-button color="primary">Upload</button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      Information Documents
    </mat-expansion-panel-header>

    <mat-grid-list cols="2">
      <mat-grid-tile>
        <mat-list>
          <ng-container *ngFor="let document of documents">
            <mat-list-item *ngIf="document.signatureType=='Informational'">
              <span>{{ document.title }} ({{ document.documentType }})</span>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button color="primary">Download</button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>
</mat-accordion>
<mat-card *ngIf="eSigned">Signing Completed</mat-card>
